/* definisco un immagine come sfondo e alcune proprietà CSS valide per tutto il body */
body{
  background-image: url(background.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: white;
}

/* imposto la larghezza del contenitore padre del main */
.container {
  width: 50%;
  margin: auto;
  border-radius: 20px;
  margin-top: 40px;
  padding: 5%;
  background-color: rgb(0, 0, 0, 0.5);
}

/* con il selettore header vado ad allineare al centro il logo e il testo dell'header */
header{
  text-align: center;
}

header > #logo {
  height: 100px;
}

header > h1 {
  color: #00dd00;
  margin-bottom: 5px;
}

.nav {
  background-color: #00dd00;
  padding: 10px;
}

h2.name {
  margin-top: 25px;
  display: inline-block;
}

.carica_orange {
  border-radius: 5px;
  background-color: #f5b453;
  height: 30px;
  width: 40%;
}

.carica_green {
  border-radius: 5px;
  background-color: #1ec31e;
  height: 30px;
  width: 70%;
}

.carica_red {
  border-radius: 5px;
  background-color: #be4141;
  height: 30px;
  width: 15%;
}

* {
  margin: 0;
}
